/* Estilos generales */
* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
}

/* Estilos para todas las pantallas */
h1 {
  font-size: 2.5em;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  margin-top: 20px;
  text-align: center;
}


ul {
  display: block;
}

li {
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

a {
  margin-top: 20px;
}

form {
  margin-top: 20px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  margin-bottom: 20px;
}

input[type="submit"] {
  padding: 10px 20px;
  font-size: 1em;
}
