
/* Estilos generales */
* {
    box-sizing: border-box;
  }
  
  body {
    font-size: 16px;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    margin: 0;
  }
  
  /* Estilos para pantallas grandes */
  @media screen and (min-width: 992px) {
    h1 {
      font-size: 3em;
    }
  
    h2 {
      font-size: 2em;
      margin-top: 30px;
    }
  
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  
    li {
      width: calc(33.33% - 20px);
      margin-bottom: 50px;
    }
  
    img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
    }
  
    a {
      margin-top: 20px;
    }
  
    form {
      margin-top: 50px;
    }
  
    input[type="text"],
    input[type="email"],
    textarea {
      width: 100%;
      max-width: 500px;
      padding: 15px;
      font-size: 1.2em;
      margin-bottom: 30px;
    }
  
    input[type="submit"] {
      padding: 15px 30px;
      font-size: 1.2em;
    }
  }